@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606706172309'); /* IE9 */
  src: url('iconfont.eot?t=1606706172309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABogAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEhATYCJAMICwYABCAFhG0HMRvIBRHVkzFkXx5wh8kX3iQRhKm0F9CN0riK+WtDzCkO3vvg+W/u876Zl7+TLIFCVERlDJQQVeuAhK1wSMcv2pZd3ULfAE4ya4CAxeTZR0gaAJub9W2NilAsyXnwv3xHOpkhLEcdDBlxOG0CBTIfpBzX3jSpCzAOKKC9MdrCBRRY5A1jF7zA0xAgoFQzmTVnUYhDsScJIPt279yMK/hQlCUdQqphpSJ38XDmthnuRJ+X3y05MHgWu2zZjtnbmPb9gZNmnby0LiDgBwGt9wALNAMFCRtjS7AIo1kCTqUSKBr8/mByEhuQo2oR9tfZhRkAFEPeM/E9waN+0wCggA9Ug2mTguCr/ZqzmySJbGj2bZY4tJFZs5Xw4BaibbFEUSJhnERhZ3lbPj4evp92fHlB1rlNW3O0kftJjyNH93279/s5MX9v2PPX4zd4/htU+n0AZAz4dX/wchTnN/6BydtZEEDg+bKaNxuz+/67dAVg6FdjkWfyapgD3EnsAj+LP7BJDaGtN6rxG1OGav5NVAQEwCTsyjM6VVV4ZxbBFfgMhjRKYHFUE5XaDI902pDCMRUBTeauTyffESyiPtDoOoCQ4xkMWbyAJcc3olJH4FHkL1LkZBEQS/6O6dTGRZlQMVrQN0QzT841soyL3+j3QVFeGNH/SFsMQl1U5WSPE9ISc7bDN8wOHM0jdOA8HIYZFpoTGi4C89KWpWu6UmHmUUiRUDFa0DdEM08uaM+y8v43+n1Q1NFQ5/4jbbF7qItqALGXTYMaHuWS7fANswNH8wgdGIbDMMPSPCyh4SJMiCxt6bRyQ2XF9orx73YAgbDV5uUMtDhRL8pkIQAA') format('woff2'),
  url('iconfont.woff?t=1606706172309') format('woff'),
  url('iconfont.ttf?t=1606706172309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606706172309#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-webpack:before {
  content: "\e799";
}

